<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compose</title>
</head>
<body>

<%- include("partials/header.ejs") %>

    <h1 style="font-size: 30px;
    font-weight: 550;
    background-image: linear-gradient(45deg,#1abc9c,#ff7e34);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;"
    >Compose</h1>
    <form class="" action="/compose" method="post">
        <div class="form-group">
            <label for="title" style="display: block;">Title</label>
            <textarea class="form-control" name="title"  cols="150" rows="1"></textarea>
    
            <label for="post" style="display: block;">Post</label>
            <textarea  class="form-control" name="post"  cols="150" rows="6"></textarea>
        </div>

    <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>

<%- include("partials/footer.ejs") %>

</body>
</html>